<div id="createdOk" class="alert alert-success mt-5 text-center" style="display: none;">Post successfully created!</div>
<div id="updatedOk" class="alert alert-success mt-5 text-center" style="display: none;">Post successfully updated!</div>
<div id="deletedOk" class="alert alert-success mt-5 text-center" style="display: none;">Post successfully deleted!</div>
<div id="createdError" class="alert alert-danger mt-5 text-center" style="display: none;">Post was not created!</div>
<div id="updatedError" class="alert alert-danger mt-5 text-center" style="display: none;">Post was not updated!</div>
<div id="deletedError" class="alert alert-danger mt-5 text-center" style="display: none;">Post was not deleted!</div>