<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <title>Blog NodeJS MySQL</title>
</head>

<body class="d-flex justify-content-center bg-black my-5">
    <main class="h-100 w-50 bg-dark text-white p-5 rounded">
        <a href="/" class="text-white text-decoration-none">
            <h1 class="text-center mb-5">BLOG NODEJS MYSQL</h1>
        </a>
        {{{body}}}
    </main>

    <script type="text/javascript" src="/scripts/script.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>